name: Execute Command and Push Result

on:
  push:
    branches:
      - main

jobs:
  run-command:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t my-docker-image .

      - name: Execute command in Docker container
        run: docker run my-docker-image

      - name: Commit and push result file
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          echo git add .
          ls -al
          git commit -m "Add result file"
          git push
